<body class="landingImg">
    
</body>
<section>
  <div>
    <h1 class="pageTitle">Cinema <br> Ironhack</h1>
    <button class="checkMovieBtn"><a href="/movies">Check the movies!</a></button>
  </div>
</section>